body {
  margin-top: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  /* width: 100vw; */
  overflow: hidden;
  background-color: rgb(255, 134, 233);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/bg.svg");
}
